[Unit]
Description=GenieACS {{ service }}
After=network.target

[Service]
User={{ user }}
Group={{ group }}
EnvironmentFile=/opt/genieacs/genieacs.env
ExecStart={{ bin_path }}

[Install]
WantedBy=default.target
